* {
    margin: 0;
    padding: 0;
}

body {
    padding: 50px;
    font-family: arial;
    font-size: 14px;
    background-color: #eee;
}

h1,
h2 {
    margin: 10px;
}

h2 {
    color: green;
}

p {
    font-size: 1.1em;
}

input,
textarea,
select,
label {
    margin: 10px;
    padding: 3px;
    width: 300px;
    border-radius: 5px;
}

label {
    font-size: 1.1em;
}

select {
    width: 235px;
}

select#day {
    width: 70px;
}

select#month {
    width: 115px;
}

select#year {
    width: 80px;
}

input[type="radio"],
input[type="checkbox"] {
    width: 20px;
    margin: 10px 6px;
}

input[type="submit"] {
    width: 310px;
}

textarea {
    float: left;
    font-size: 1.1em;
}

.marker {
    font-size: 1.6em;
    font-weight: bold;
}

.clearer {
    clear: both;
}

/* Den Placeholder-Font selbst bestimmen: */
::-webkit-input-placeholder {
    font-family: verdana;
}
:-moz-placeholder {
    font-family: verdana;
}
::-moz-placeholder {
    font-family: verdana;
}
:-ms-input-placeholder {
    font-family: verdana;
}
