hr {
    margin: 2em;
}

/* State Boxes */
div.success,
div.error {
    border: 1px dashed green;
    border-radius: 5px;
    color: green;
    font-weight: 600;
    margin: 0.5em;
    padding: 0.5em;
    text-align: center;
}

div.error {
    border: 1px dashed red;
    color: red;
}